{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}



{% block body %}
<div class="gap" style="margin-top:60px">


</div>
<section>
  <div class="gap black-layer opc5">
      <div class="fixed-bg2" style="background-image: url(../../static/management/images/pg-tp-bg.jpg);"></div>
      <div class="container">
          <div class="pag-tp">
              <div class="pag-tp-inr">
                  <h1 itemprop="headline">Login And Register</h1>
                  <p itemprop="description">We Stand Beside those who Protect our Community</p>
              </div>
              <ol class="breadcrumb brd-rd30 theme-bg">
                  <li class="breadcrumb-item"><a href="{% url 'management:home' %}" title="" itemprop="url">HOME</a></li>
                  <li class="breadcrumb-item active">LOGIN</li>
              </ol>
          </div><!-- Page Top -->
      </div>
  </div>
</section>
<div class="mt-4">
</div>
<div class="container w-50 p-3 justify-content-center">
<h1>{% trans "Sign In" %}</h1>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}"><u>sign up</u></a> first.{% endblocktrans %}</p>
{% endif %}
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>


{% endblock %}
