{% extends "management/base.html" %} 
{% load static %} 

{% block body %}

<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Patient Profile</h2>
            <small class="text-muted">Welcome to Polyclinic application</small>
        </div>        
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class=" card patient-profile">
                    {% if patient.profile %}
                    <img src="{{patient.profile.url}}" class="img-fluid" alt="">   
                    {% else %}
                    <img src="http://via.placeholder.com/130x130" class="img-fluid" alt="">   
                    {% endif %}           
                </div>
                <div class="card">
                    <div class="header">
                        <h2>About Patient</h2>
                    </div>
                    <div class="body">
                        <strong>Name</strong>
                        <p>{{patient.first_name}} {{patient.last_name}}</p>
                        <strong>Occupation</strong>
                        <p>{{patient.occupation}}</p>
                        <strong>Email ID</strong>
                        <p>{{patient.email}}</p>
                        <strong>Phone</strong>
                        <p>{{patient.phone}}</p>
                        <hr>
                        <strong>Address</strong>
                        <address>{{patient.location}}</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body"> 
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active"data-toggle="tab"  href="#report">Biographyink</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">Timeline</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}