{% extends "management/base.html" %} 
{% load static %} 

{% block body %}
<section class="content profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 p-l-0 p-r-0">
                <section class="boxs-simple">
                    <div class="profile-header">
                        <div class="profile_info">
                            {% if doctor.profile %}
                            <div class="profile-image"> <img src="{{doctor.profile.url}}" alt=""> </div>
                            {% else %}
                            <img src="http://via.placeholder.com/130x130" class="img-fluid" alt="">   
                            {% endif %}
                            <h4 class="mb-0"><strong>{{doctor.name}}</strong> Smith</h4>
                            <span class="text-muted col-white">{{doctor.department}}</span>
                            <div class="mt-10">
                                <button class="btn btn-raised btn-default bg-blush btn-sm">Follow</button>
                                <button class="btn btn-raised btn-default bg-green btn-sm">Message</button>
                            </div>
                           
                        </div>
                    </div>
                   
                </section>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>About Me</h2>
                    </div>
                    <div class="body">
                        <p class="text-default">place holder</p>
                        <blockquote>
                            <p>place holder</p>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>My Portfolio Status</h2>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="body"> 
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#mypost">My Post</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">Activities</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#usersettings">Setting</a></li>
                        </ul>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}